# The name of the workflow, which will appear on the GitHub Actions tab.
name: Deploy Frontend

# When the workflow should run (Triggers on push to the 'main' branch)
on:
  push:
    branches:
      - main

# The jobs to run
jobs:
  build-and-deploy:
    environment:
      name: production
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js Environment
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install dependencies
        run: npm ci
        working-directory: ./website

      - name: Configure git user
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
        working-directory: ./website

      - name: Build and deploy React app
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Build the React application
          npm run build
          # Use gh-pages to deploy the contents of the 'dist' directory to the 'gh-pages' branch
          npx gh-pages -d dist -b gh-pages --repo "https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git"
        working-directory: ./website